<ng-template [ngIf]="cart.length === 0" [ngIfElse]="elseBlock">
  <div class="empty-cart-message">
    <p>Your cart is empty!</p>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div class="cart-container">
    <!-- cart items -->
    <div class="cart-panel">
      <div class="cart-item" *ngFor="let product of cart">
        <img
          class="img"
          src="{{ product.url }}"
          alt="{{ product.description }}"
        />
        <div class="cart-item-details">
          <p>
            <b>{{ product.name }}</b>
          </p>
          <p>${{ product.price }}</p>
          <label for="amount" class="form-label">Amount:</label>
          <input
            class="number-input"
            type="text"
            id="amount"
            readonly="true"
            disabled="true"
            value="{{ product.quantity }}"
          />
        </div>
      </div>
      <div>
        <b>Total: ${{ total }}</b>
      </div>
    </div>

    <!-- submit form -->
    <div class="form-margin">
      <form #form="ngForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            class="form-control"
            type="text"
            #fullNameRef="ngModel"
            [(ngModel)]="fullName"
            id="fullName"
            name="fullName"
            required
            minlength="3"
            placeholder="(minimum 3 characters)"
          />
        </div>
        <div class="form-group">
          <label for="address" class="form-label">Address</label>
          <input
            class="form-control"
            type="text"
            #addressRef="ngModel"
            [(ngModel)]="address"
            id="address"
            name="address"
            required
            minlength="6"
            placeholder="(minimum 6 characters)"
          />
        </div>
        <div class="form-group">
          <label for="creditCardNO" class="form-label"
            >Credit card number</label
          >
          <input
            class="form-control"
            type="text"
            #creditCardNORef="ngModel"
            [(ngModel)]="creditCardNO"
            id="creditCardNO"
            name="creditCardNO"
            required
            minlength="16"
            maxlength="16"
            pattern="[0-9]{16}"
            placeholder="(16-digit number)"
          />
          <small>We'll never share your payment detail with anyone else</small>
        </div>
        <br />
        <input
          type="submit"
          value="Submit"
          class="btn btn-primary"
          [disabled]="form.invalid"
        />
      </form>
    </div>
  </div>
</ng-template>
