<div class="product-container">
  <img
    class="product-image"
    src="{{ product.url }}"
    alt="{{ product.description }}"
    routerLink="/products/{{ product.id }}"
  />
  <p>
    <b>{{ product.name }}</b>
  </p>
  <p>${{ product.price }}</p>
  <input
    type="number"
    class="select-input"
    min="0"
    oninput="validity.valid||(value='');"
    [ngModel]="product.quantity"
    (ngModelChange)="quantityChange($event)"
  />
  <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
</div>
