<div class="detail-container">
  <img class="img" src="{{ product.url }}" alt="{{ product.description }}" />
  <div class="detail-item">
    <p>
      <b>{{ product.name }}</b>
    </p>
    <p>${{ product.price }}</p>
    <p>{{ product.description }}</p>
    <div>
      <input
        type="number"
        class="select-input"
        [(ngModel)]="product.quantity"
      />
    </div>
    <button class="btn btn-primary" (click)="addToCart(product)">
      Add to Cart
    </button>
    <div>
      <a class="back-link" routerLink="/products"><- Back to product list</a>
    </div>
  </div>
</div>
